In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
dframe=pd.read_csv(r'covid_analysis_abhinand.csv',header=0)

In [5]:
dframe.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [6]:
dframe.shape

(49068, 10)

In [7]:
dframe.isnull().sum()

Province/State    34404
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths                0
Recovered             0
Active                0
WHO Region            0
dtype: int64

In [8]:
dframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
Province/State    14664 non-null object
Country/Region    49068 non-null object
Lat               49068 non-null float64
Long              49068 non-null float64
Date              49068 non-null object
Confirmed         49068 non-null int64
Deaths            49068 non-null int64
Recovered         49068 non-null int64
Active            49068 non-null int64
WHO Region        49068 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

In [9]:
dframe.describe()

,Lat,Long,Confirmed,Deaths,Recovered,Active
count,49068.000000,49068.000000,4.906800e+04,49068.000000,4.906800e+04,4.906800e+04
mean,21.433730,23.528236,1.688490e+04,884.179160,7.915713e+03,8.085012e+03
std,24.950320,70.442740,1.273002e+05,6313.584411,5.480092e+04,7.625890e+04
min,-51.796300,-135.000000,0.000000e+00,0.000000,0.000000e+00,-1.400000e+01
25%,7.873054,-15.310100,4.000000e+00,0.000000,0.000000e+00,0.000000e+00
50%,23.634500,21.745300,1.680000e+02,2.000000,2.900000e+01,2.600000e+01
75%,41.204380,80.771797,1.518250e+03,30.000000,6.660000e+02,6.060000e+02
max,71.706900,178.065000,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06

In [10]:
sns.countplot(x='WHO Region',data=dframe)

In [11]:
data=dframe.groupby('WHO Region').sum()['Deaths']

In [ ]:
data=data.sort_values()

In [ ]:
plt.figure(figsize=(12,8))
sns.barplot(x=data.index, y=data.values)
plt.xticks(rotation=90)
plt.title('Death cases as per region')
plt.show()

In [ ]:
data=dframe.groupby('WHO Region').sum()['Recovered']

In [ ]:
data=data.sort_values()

In [ ]:
plt.figure(figsize=(12,8))
sns.barplot(x=data.index, y=data.values)
plt.xticks(rotation=90)
plt.title('Recovered cases as per region')
plt.show()

In [ ]:
datax=dframe.groupby('Country/Region').sum()['Deaths']

In [ ]:
datax=datax.sort_values(ascending=False)

In [ ]:
data_country_death=datax.head()

In [ ]:
plt.pie(data_country_death, labels=data_country_death.index)

In [ ]:
plt.title('Top 5 Countries with most death')

plt.show()

In [ ]:
datay=dframe.groupby('Country/Region').sum()['Recovered']
datay=datay.sort_values(ascending=False)
data_country_recovered=datay.head()

In [ ]:
plt.pie(data_country_recovered, labels=data_country_recovered.index)

In [ ]:
plt.title('Top 5 Countries with most recoveries')

plt.show()

In [ ]:
dataz=dframe.groupby('Province/State').sum()['Confirmed']

In [ ]:
dataz=dataz.sort_values(ascending=False)

In [ ]:
data_pro_confirmed=dataz.head(10)

In [ ]:
data_pro_confirmed

In [ ]:
plt.figure(figsize=(12,8))
sns.barplot(x=data_pro_confirmed.index, y=data_pro_confirmed.values)
plt.xticks(rotation=90)
plt.title('Top 10 Confirmed cases as per Province/State')
plt.show()

In [ ]:
dataa=dframe.groupby('Date').sum()

In [ ]:
dataa.head()

In [ ]:
dataa=dataa.drop(['Lat','Long','Active'], axis=1)

In [ ]:
dataa.head()

In [ ]:
plt.figure(figsize=(12,8))
plt.plot(dataa, linewidth=2)
plt.title('line')
plt.show()